html, body {
    margin: 0; 
    padding: 0; 
    width: 100%; 
    height: 100%; 
    overflow-x: hidden; 
    overflow-y: auto; 
    background-image: url(./Imgs/mtg-background.jpg);
    background-size: cover;
    

}

.landingPage {    
    background-color: #b2fab4;
    padding: 20px;
    width: 100%; 
    text-align: center;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between; 
    border-width: 1px;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(121, 62, 197, 0.2);
}

.gameName {
    text-align: center;
}

button {
    background-color: #85a0e9; 
    color: #1a1a1a; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    text-align: center; 
    display: inline-block; 
    font-size: 16px; 
    margin: 5px; 
    cursor: pointer; 
}

.lifeButtons {
    list-style-type: none;
}


.principalPlayer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
} 

.oponente {
    flex: 1 1 calc(33.33% - 20px);
    min-width: 200px;
    max-width: 300px;
    border-width: 1px;
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(248, 90, 214, 0.2);

}

.listaDeOponentes {
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    list-style-type: none;
}

@media (max-width: 768px) {
    .oponente {
        flex: 1 1 calc(50% - 20px); /* En pantallas medianas, cada oponente ocupará el 50% */
    }
}

@media (max-width: 480px) {
    .oponente {
        flex: 1 1 calc(100% - 20px); /* En pantallas pequeñas, cada oponente ocupará el 100% */
    }
}

