
.header {    
    background-color: #b2fab4;
    padding: 20px;
    width: 100%; 
    text-align: center;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    display: flex; 
    justify-content: space-between; 
    border-width: 1px;
    align-items: center;
}

button {
    background-color: #85a0e9; 
    color: #1a1a1a; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

.lifeButtons {
    list-style-type: none;
}


.principalPlayer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
} 

.oponente {
    border-width: 1px;
    border: 2px solid black;
    justify-content: space-between; 
    background-color: bisque;
    padding: 10px;
}

.listaDeOponentes {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-around;
    gap: 20px;  
    margin-bottom: 20px;
    list-style-type: none;
}

.game {
    padding: 5%;
}