.contenedorOponentes {
  display: flex;
  flex-wrap: wrap;
}

.contenedorOponente {
    width: 135px; /* Ancho del contenedor */
    height: 135px; /* Alto del contenedor */
    border-radius: 50%; /* Hace que el contenedor sea redondo */
    background-color: #f9f9f9; /* Color de fondo suave */
    border: 5px solid rgba(0, 0, 0, 0.2); /* Borde delgado */
    box-shadow: 
      0 10px 20px rgba(0, 0, 0, 0.15), /* Sombra exterior */
      inset 0 2px 4px rgba(255, 255, 255, 0.8); /* Sombra interior para efecto 3D */
    display: flex; /* Flexbox para centrar el contenido */
    flex-direction: column; /* Organiza el contenido en columna */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    margin: 20px; /* Margen externo */
  }
  
  h1, h2 {
    margin: 0; /* Elimina márgenes predeterminados */
  }
  
  h1 {
    font-size: 24px; /* Tamaño de fuente para el nombre */
    color: #333; /* Color del texto */
  }
  
  h2 {
    font-size: 20px; /* Tamaño de fuente para la vida */
    color: #555; /* Color del texto */
  }
  